*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

main {
    margin: 100px 0;
}

h2 {
    font-size: 32px;
}


/* --------------------------HEADER----------------------------- */

header {
    height: 500px;
    background: url(../img/jumbo.png) no-repeat 50% 50%;
    background-size: cover;
    font-size: 15px;
    position: relative;
}

header .row {
    height: 50px;
    padding-top: 10px;
}

.logo {
    width: 20%;
}

nav {
    width: 60%;
}

nav ul {
    list-style: none;
    text-align: center;

}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 40px;
}

nav a {
    text-decoration: none;
    color: white;

}

.button {
    width: 20%;
    text-align: center;
    line-height: 40px;
}

.button h3{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    background-color: white;
    border-radius: 20px;
    padding: 0 10px;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.jumbotron h1{
    font-size: 40px;
}

.jumbotron p{
    line-height: 25px;
    margin: 20px 0;
}

.button-jumbotron {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.white {
    background-color: white;
    color: black;
}

.white span {
    transform: rotate(90deg);
    display: inline-block;
    font-size: small;
}

.black {
    background-color: #22272a;
    color: white;
}

/* -----------------MAIN---------------------- */

.row-1 {
    margin: 200px 0;
}

.row-2 {
    margin: 200px 0;
}

.row-1 .left {
    width: 70%;
    float: left;
}

.row-1 .left img {
    height: 300px;
    padding-left: 100px;
}

.row-2 .left {
    width: 40%;
    float: left;
}

.row-1 .right {
    width: 30%;
    float: left;
    padding-top: 20px;
}

.row-1 .right p {
    margin-top: 20px;
    font-size: 15px;
    width: 250px;
    line-height: 20px;
}

.row-2 .right {
    width: 60%;
    float: left;
}

.row-2 .left {
    padding-top: 20px;
    padding-left: 100px;
}

.row-2 .left p {
    margin-top: 20px;
    font-size: 15px;
    width: 250px;
    line-height: 20px;
}

.row-2 .right img {
    height: 300px;
    padding-left: 100px;
}

.four h2{
    text-align: center;
}

.four .box-text p {
    margin: 20px 0;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

.box-image {
    position: relative;
    height: 500px;
}

.box-image img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.stars {
    text-align: center;
    font-size: 20px;
    position: relative;
}

.stars h3 {
    background: url(../img/stars.svg) no-repeat;
    background-size: 100%;
    padding: 20px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four .violet {
    position: relative;
}

.four .violet p {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #89a2e6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.four .violet span {
    transform: rotate(90deg);
    display: inline-block;
    font-size: small;
}

/* --------------------FOOTER------------------------ */

footer {
    color: white;
    background-color: #22272a;
    margin-top: 300px;
    z-index: 1000;
}

footer .container {
    margin-bottom: 0;
}

footer h2, footer h4 {
    color: #6c8ae0;
}

footer .row {
    padding-top: 30px;
}

footer p {
    margin-top: 20px;
}

.box-1 {
    width: 40%;
}

.box-1 img {
    height: 15px;
}


.box-2 {
    width: 15%;
}

.box-3 {
    width: 15%;
}

.box-4 {
    width: 15%;
}

.box-5 {
    width: 15%;
}

footer hr {
    border: 1px solid #6c8ae0;
    margin: 10px 0;
}

.sign-in {
    float: right;
    font-size: small;
    background-color: #6c8ae0;
    padding: 10px;
    border-radius: 20px;
}

main {
    position: relative;
}

.wave-1 {
    position: absolute;
    top: 400px;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
}

.wave-image, .wave-block{
    display: inline-block;
}

.wave-1 .wave-block {
    width: 100%;
    height: 400px;
    background-color: black;
}

.wave-1 .rotate img {
    transform: rotate(180deg);
}

main .container {
    z-index: 1000;
}

.wave-2 {
    position: absolute;
    top: 1400px;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
}

.wave-2 .wave-block {
    width: 100%;
    height: 1000px;
    background-color: black;
}